:root {
    --IntastellarPrimaryColor: #c09f53;
    --IntastellarSecondaryColor: #a3a3a3;
}

.intastellarPluginContent>* {
    box-sizing: border-box;
}

.intastellarPluginContent{
    padding: 0 1.5em;
    max-width: 90%;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.intastellarPluginHeader {
    background-color: #ffffff;
    border-bottom: 1px solid #7b7b7b;
    box-shadow: 0 1px 0 #ccd0d4, 0 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.intastellarPluginHeader-content{
    padding: 0 1.5em;
        max-width: 90%;
        margin: 0 auto;
    display: flex;
        align-items: center;
}

.intastellar-select-logo-button{
    margin-top: 10px;
    border: 1px solid var(--IntastellarPrimaryColor);
    padding: 15px;
    background: transparent;
}

.intastellarFeedback {
    margin-left: 20px;
}

.intastellarPluginHeader__logo {
    width: 60px;
}

.intastellarPluginPage-header {
   margin-bottom: 30px;
}

#wpcontent {
    padding-left: 0;
}

.intastellarPluginHeader__headline {
    font-size: 18px;
}

.intastellarPluginContent__items {
    margin: 15px 0px;
    display: grid;
    grid-template-columns: 150px 1fr;
    width: auto;
    position: relative;
}

.intastellarCookieSettingsLogo {
    height: 100px;
    object-fit: contain;
    display: block;
}

.intastellarPluginContent__items .regular-text {
    width: max-content;
    margin: 0px 15px;
}

.intastellarPluginContent__items .regular-text.--color {
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
}

.colorValue {
    padding: 5px 30px;
    margin-left: -16px;
    background-color: #b2b2b2;
}

.colorPallet {
    display: flex;
    align-items: center;
}

.intastellarPluginContent__items .regular-text.--color::-webkit-color-swatch-wrapper {
    padding: 0;
}

.intastellarPluginContent__items .regular-text.--color::-webkit-color-swatch {
    border: none;
}

.intastellarPluginContent__items .regular-text.--radio {
    width: auto;
}

.intastellarPluginContent__items .regular-text.--fullWidth {
    width: auto;
    margin-top: 5px;
}

.intastellarPluginContent__items-checkbox {
    accent-color: #c09f53;
}

.IntastellarCookieSettingsPage__Image {
    position: absolute;
    z-index: 2;
    width: 150px;
    left: 70px;
    top: 30px;
    object-fit: cover;
    margin: 0px 10px;
    opacity: 0;
    visibility: hidden;
}

.intastellarPluginContent__items-viewImage {
    cursor: pointer;
    margin: 0px 10px;
}

.intastellarPluginContent__items-viewImage:hover>.IntastellarCookieSettingsPage__Image {
    opacity: 1;
    visibility: visible;
}

.intastellarPluginGrid {
    padding: 25px 50px;
}

.intastellarPlugin-sideNavigation {
    background-color: var(--IntastellarSecondaryColor);
    color: #fff;
    border-top: 2px solid var(--IntastellarPrimaryColor);
    border-bottom: 2px solid var(--IntastellarPrimaryColor);
}

.intastellarPlugin-sideNavigation a {
    display: block;
    padding: 15px;
    padding-right: 150px;
    width: 250px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    border-bottom: 1px solid #7b7b7b;
}

.intastellarPlugin-sideNavigation a:last-child {
    border: none;
}

.intastellarPlugin-sideNavigation a.active {
    background-color: #f0f0f1;
    color: rgb(192, 159, 83);
    border: none;
}

.intastellarPluginSaveButton {
    padding: 10px 15px;
    color: #fff;
    border: none;
    background: rgba(0, 35, 104, 1);
    background-color: rgb(192, 159, 83);
}

.intastellarPoweredByLogoContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 20%;
}

.intastellarPoweredByLogoContainer a {
    grid-column: 2/3;
    text-align: right;
}

.intastellarPoweredByLogo {
    max-width: 100%;
    width: 100%;
    padding: 10px;
}

.intastellarPlugin-style-seletor {
    display: block;
    padding: 15px;
    width: max-content;
}

.intastellar-banner-style-preview {
    width: 170px;
    object-fit: contain;
    border-radius: 10px;
}

.intastellar-banner-style-preview.--banner {
    width: 400px;
    height: 200px;
}

.intastellarPlugin-style-seletor input {
    display: none;
}

.intastellarPlugin-style-seletor input:checked~.intastellar-banner-style-preview {
    outline: 5px solid #c09f53;
}

@media screen and (max-width:782px) {

    .intastellarPluginGrid,
    .intastellarPoweredByLogoContainer,
    .intastellarPluginContent .grid,
    .intastellarPluginContent__items {
        grid-template-columns: 1fr;
        display: block;
    }

    .intastellarPluginHeader__logo {
        width: 17%;
    }

    .intastellarPlugin-sideNavigation {
        display: none;
    }

    .intastellar-banner-style-preview.--banner,
    .intastellar-banner-style-preview {
        width: 300px;
    }

    .intastellarPluginGrid {
        padding: 15px;
    }

    .intastellarPluginContent {
        margin-left: -10px;
    }

    .intastellarPluginContent__items .regular-text {
        margin: 0;
    }

    .intastellarCookieSettingsLogo {
        padding: 15px;
        width: auto;
    }
}